<div class="main-container">
    <div class="main wrapper clearfix">

        <article>
            <header>
                <h1>About This Site</h1>
                <p>The Society App is a fastest medium of communication for a residential society. It will help in easy management of the society and will bring transparency of everything in the society.</p>
            </header>
           
                <h3>Why You Need This?</h3>
                <p>People now a days have no time for scheduled meetings of the society to participate and hence their views are missed. So in order to involve each and everyone in the communication this app will facilitate communication on-the-fly and it will save time and efforts.</p>
           
                <h3>What Do We Do?</h3>
                <p>We give the best tool to the society chairman to handle the society's transaction and records and also give the members to have a look of it thereby eradicating the pen-and-paper system.</p>
            
            <footer>
                <h3>Who Are Involved?</h3>
                <p>We are involving the chairman as well as the society members to communicate through this medium and make the best use of this platform. On one hand there is chairman who manages and need concent of others before making any decision where as on the other there are the members of the society who are rectifying as well as contributing with ideas for the welfare of the society.</p>
            </footer>
        </article>

        <aside>

<div class="container" ng-controller="LoginController">
        <div class="card card-container">
            <h2 >Login</h2>
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" ng-submit="login();">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="user.email" required autofocus>
                <input type="{{showHidePassword}}" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me" ng-model="showPassword" ng-change="togglePassword();"> Show Password
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" >Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
        </aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->