<ng-include src="'templates/menu.html'"></ng-include>

<div class="container" ng-controller="DashboardController" ng-init="getPosts();">
    <ng-include src="'templates/birthdays.html'"></ng-include>
    <ng-include src="'templates/events.html'"></ng-include>
    <div class="right">
        <div>
            <button class="btn btn-default green-circle-button" title="Add Post"  ng-click="gotoAdd();"><i class="fa fa-lg fa-plus"></i></button>

        </div>   
    </div>
    <br>
    <div class="card-timeline radius shadowDepth1" ng-repeat="event in timeline">

        <div class="card__content card__padding">

            <div class="row">
                <div class="card__meta col-md-6">
                    <!--<a href="">{{event.eventType}}</a>-->
                    <time>{{event.date}}</time>
                </div>
                <div class="col-md-6 right">
                    <div class="event-type shadowDepth2"ng-class="{news: event.type === 'News', notice:event.type==='Notice'}">{{event.type}}</div>
                </div>
            </div>
            <article class="card__article">
                <h2><a href="#">{{event.title}}</a></h2>

                <p>{{event.description}}</p>
            </article>
        </div>

        <div class="card__action">

            <div class="card__author">
                <img src="https://smilestream.com/Content/userimages/default-avatar.png" height="50" width="50" alt="user">
                <div class="card__author-content">
                    By <a href="#">{{event.posted_by}}</a>
                </div>
            </div>
        </div>
    </div>



</div>
<script>
    $(document).ready(function ($) {

        $('.card__share > a').on('click', function (e) {
            e.preventDefault() // prevent default action - hash doesn't appear in url
            $(this).parent().find('div').toggleClass('card__social--active');
            $(this).toggleClass('share-expanded');
        });

    });

</script>