<ng-include src="'templates/menu.html'"></ng-include>

<div class="container" ng-controller="DashboardController" ng-init="getPosts();">
    <ng-include src="'templates/birthdays.html'"></ng-include>
    <ng-include src="'templates/events.html'"></ng-include>
    <div class="right">
        <div>
            <button class="btn btn-default green-circle-button" title="Add Post"  ng-click="gotoAdd();"><i class="fa fa-lg fa-plus"></i></button>

        </div>   
    </div>
    <br>
    <div class="card-timeline radius shadowDepth1" ng-repeat="event in timeline">

        <div class="card__content card__padding">

            <div class="row">
                <h3 class="col-md-6 blue"><span>{{event.title}}</span></h3>
                <div class="col-md-6 right">
                    <div class="event-type shadowDepth2"ng-class="{news: event.type === 'News', notice:event.type === 'Notice'}">{{event.type}}</div>
                </div>
            </div>
            <article class="card__article">


                <p>{{event.description}}</p>
            </article>
        </div>

        <div class="card__action">

            <div class="card__author row">

                <div class="card__author-content col-md-6">
                    By <span class="blue">{{event.posted_by}}</span>
                </div>
                <div class="card__meta right col-md-6">
                    <!--<a href="">{{event.eventType}}</a>-->
                    <time>{{event.date}}</time>
                </div>
            </div>
        </div>
    </div>



</div>
<script>
    $(document).ready(function ($) {

        $('.card__share > a').on('click', function (e) {
            e.preventDefault() // prevent default action - hash doesn't appear in url
            $(this).parent().find('div').toggleClass('card__social--active');
            $(this).toggleClass('share-expanded');
        });

    });

</script>