<div ng-controller="EventController" >
    <h2>Upcoming Events</h2>
     <div class="right" ng-show="user.type==='chairman'">
        <div>
            <button class="btn btn-default green-circle-button" title="Add Event"  ng-click="gotoAdd();"><i class="fa fa-lg fa-plus"></i></button>

        </div>   
    </div>
    <div id="mainbox" ng-show="events.length==0">
        <strong>No Upcoming Events</strong>
    </div>
    <div id="mainbox" ng-show="events.length">

        <div class="card-birthday" ng-repeat="event in events"  ng-class="{today: event.days_remaining==0}" >
           
            <h2>{{event.title}}</h2>
            <p class="right" ng-hide="event.days_remaining==0">{{event.days_remaining==1?'Tommorow':event.days_remaining<6? (event.days_remaining+' day(s) remaining'):event.date}} </p>
            <p class="right" ng-show="event.days_remaining==0">Today</p>
        </div>
    </div>
    <hr>
</div>