<div ng-controller="EventController" >
    <h2>Upcoming Events</h2>
    <div class="right" ng-show="user.type === 'chairman'">
        <div>
            <button class="btn btn-default green-circle-button" title="Add Event"  ng-click="gotoAdd();"><i class="fa fa-lg fa-plus"></i></button>

        </div>   
    </div>
    <div id="mainbox" ng-show="events.length == 0">
        <strong>No Upcoming Events</strong>
    </div>
    <div id="mainbox" ng-show="events.length">

        <div class="card-birthday" ng-repeat="event in events" data-toggle="modal" data-target="#myModal" ng-click="selectEvent(event)"  ng-class="{today: event.days_remaining == 0}" >

            <h2>{{event.title}}</h2>
            <p class="right" >{{formatDate(event.date_date)}} </p>
            
        </div>
    </div>
    <hr><div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="EventController">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-body center">
                    <!--<img class="modal-image" ng-src="{{imgUrl + photo.image_url}}">-->
                    <article class="card__article">
                        <div class="row">
                            <div class="col-lg-6 left"><span ng-show="user.type==='chairman'" class="btn fa-stack fa-lg delete-btn" ng-click="deleteEvent(event)"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></div>
                            <div class="col-lg-6 right time">
                                On:{{formatDate(event.date_date)}}
                            </div>
                        </div>     
                        <h2><a href="">{{event.title}}</a></h2>

                        <p>{{event.description}}</p>

                    </article>
                    <!--                                <div id="caption"></div>
                                                    <div id="caption"></div>-->

                </div>
            </div>
        </div>
    </div>
 <div class="loading-spiner-holder2" ng-show="loading || false"></div>
</div>