<div class="container" ng-controller="UserController" ng-init="getSearchParams()">
    <div class="col-lg-12">

        <form ng-submit="resetPass()">
            <h1 class="well">Reset Password</h1>
            <div class="col-lg-12 well">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <strong>New Password</strong>
                        <input type="password" placeholder="Enter Password" ng-model="reset.pass" class="form-control" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <strong> Re-Type New Password</strong>
                        <input type="password" placeholder="Retype Password" ng-model="reset.cPass" class="form-control"required="">
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Reset Password" class="btn btn-info"/>

                </div>
            </div>
        </form>
    </div>
     <div class="loading-spiner-holder2" ng-show="loading || false"></div>
</div>