<ng-include src="'templates/menu.html'"></ng-include>

<div class="container" ng-controller="ManageSocietyMembersController" ng-init="getMembers();">
    <div class="right" ng-show="user.type==='chairman'">
        <div class="col-md-12">
            <button class="btn btn-default green-circle-button" title="Register Member"  ng-click="gotoAdd();"><i class="fa fa-lg fa-plus"></i></button>

        </div>   
    </div>
    <table>
        <caption>Existing Members</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="member in members" ng-class="{green: member.type == 'chairman'}">
                <td data-label="Name">{{member.name}}</td>
                <td data-label="Email">{{member.email}}</td>
                <td data-label="Phone">{{member.phone}}</td>
                <td data-label="Type">{{member.type| titlecase}}</td>
                <td data-label="Action">
                    <button class="btn btn-info" ng-show="user.type==='chairman'||member.id===user.id" ng-click="resetPass(member)">Reset Pass</button>
                    <button class="btn btn-danger" title="Delete Member" ng-hide="user.type==='member'|| member.id===user.id"><i class="fa fa-lg fa-trash-o"></i></button>

                </td>
            </tr>

        </tbody>
    </table>
    <br>
 <div class="loading-spiner-holder2" ng-show="loading || false"></div>    
</div>