<ng-include src="'templates/menu.html'"></ng-include>
<div class="container" ng-controller="PhotoGalleryController" ng-init="getPhotos();">
    <div class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px;">

        <h3 style="font-family:'Bree Serif', arial;color: #147014; font-weight:bold; font-size:30px;">
            Photo Gallery 
        </h3>

    </div>
    <div class="right">
        <div class="col-md-12">
            <button class="btn btn-default green-circle-button" title="Add Images" ng-click="gotoAdd();"><i class="fa fa-lg fa-plus"></i></button>

        </div>   
    </div>
    <div class="container photos-gallery" id="wrapper" >
        <div class="panel box-shadow">
            <!--<h3 style="color:#0077b5; text-align:center;; border-bottom:1px solid #c0c0c0;"> Photo Gallery </h3>-->

            <div class="gallery" ng-repeat="img in images">
                <span class="btn fa-stack fa-lg delete-btn" ng-click="deletePhoto(img)"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span>
                <a data-toggle="modal" data-target="#myModal" ng-click="selectImage(img)">
                    <img id="myImg" class="img-thumb" src="{{imgUrl + img.image_url}}" alt="{{img.title}}" width="300" height="200">

                    <div class="desc">{{img.title}}</div>
                </a>
                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="PhotoGalleryController">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body center">
                                <img class="modal-image" ng-src="{{imgUrl + photo.image_url}}">
                                <article class="card__article">
                                    <div class="row">
                                        <div class="col-lg-6 left time">
                                            By:{{photo.uploader}}
                                        </div>
                                        <div class="col-lg-6 right time">
                                            On:{{photo.uploaded_on}}
                                        </div>
                                    </div>     
                                    <h2><a href="">{{photo.title}}</a></h2>

                                    <p>{{photo.description}}</p>

                                </article>
                                <!--                                <div id="caption"></div>
                                                                <div id="caption"></div>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="loading-spiner-holder2" ng-show="loading || false"></div>
</div> <!-- /container -->

<script>
    $(document).ready(function () {
        $('ul.first').bsPhotoGallery({
            "classes": "col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12",
            "hasModal": true,
            // "fullHeight" : false
        });
    });
</script>